:root {
  --neutral-200: rgba(229, 231, 235, 1);
  --genericwhite: rgba(255, 255, 255, 1);
  --primary500-main: rgba(99, 102, 241, 1);
  --destructive500-main: rgba(239, 68, 68, 1);
  --primary-300: rgba(165, 180, 252, 1);
  --destructive-300: rgba(252, 165, 165, 1);
  --primary-600: rgba(79, 70, 229, 1);
  --destructive-600: rgba(220, 38, 38, 1);
  --primary-100: rgba(224, 231, 255, 1);
  --destructive-200: rgba(254, 202, 202, 1);
  --neutral-50: rgba(249, 250, 251, 1);
  --primary-200: rgba(199, 210, 254, 1);
  --primary-400: rgba(129, 140, 248, 1);
  --destructive-400: rgba(248, 113, 113, 1);
  --neutral-700: rgba(55, 65, 81, 1);
  --neutral-300: rgba(209, 213, 219, 1);
  --neutral-500: rgba(107, 114, 128, 1);
  --neutral-900: rgba(17, 24, 39, 1);
  --primary-50: rgba(238, 242, 255, 1);
  --destructive-50: rgba(254, 242, 242, 1);
  --destructive-100: rgba(254, 226, 226, 1);
  --primary-700: rgba(67, 56, 202, 1);
  --genericblack: rgba(0, 0, 0, 1);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --labelsprimary: rgba(0, 0, 0, 1);
  --system-backgrounddark-baseprimary: rgba(0, 0, 0, 1);
  --graysblack: rgba(0, 0, 0, 1);
  --neutral-400: rgba(156, 163, 175, 1);
  --paragraph-overline-large-font-family: "Inter-SemiBold", Helvetica;
  --paragraph-overline-large-font-weight: 600;
  --paragraph-overline-large-font-size: 14px;
  --paragraph-overline-large-letter-spacing: 1px;
  --paragraph-overline-large-line-height: 20px;
  --paragraph-overline-large-font-style: normal;
  --paragraph-body-font-family: "Inter-Regular", Helvetica;
  --paragraph-body-font-weight: 400;
  --paragraph-body-font-size: 16px;
  --paragraph-body-letter-spacing: 0px;
  --paragraph-body-line-height: 32px;
  --paragraph-body-font-style: normal;
  --paragraph-small-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-small-regular-font-weight: 400;
  --paragraph-small-regular-font-size: 14px;
  --paragraph-small-regular-letter-spacing: 0px;
  --paragraph-small-regular-line-height: 20px;
  --paragraph-small-regular-font-style: normal;
  --label-medium-medium-font-family: "Inter-Medium", Helvetica;
  --label-medium-medium-font-weight: 500;
  --label-medium-medium-font-size: 14px;
  --label-medium-medium-letter-spacing: 0px;
  --label-medium-medium-line-height: 16px;
  --label-medium-medium-font-style: normal;
  --heading-h2-extrabold-desktop-font-family: "Inter-ExtraBold", Helvetica;
  --heading-h2-extrabold-desktop-font-weight: 800;
  --heading-h2-extrabold-desktop-font-size: 36px;
  --heading-h2-extrabold-desktop-letter-spacing: -0.72px;
  --heading-h2-extrabold-desktop-line-height: 44px;
  --heading-h2-extrabold-desktop-font-style: normal;
  --paragraph-large-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-large-regular-font-weight: 400;
  --paragraph-large-regular-font-size: 18px;
  --paragraph-large-regular-letter-spacing: 0px;
  --paragraph-large-regular-line-height: 28px;
  --paragraph-large-regular-font-style: normal;
  --paragraph-medium-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-medium-regular-font-weight: 400;
  --paragraph-medium-regular-font-size: 16px;
  --paragraph-medium-regular-letter-spacing: 0px;
  --paragraph-medium-regular-line-height: 24px;
  --paragraph-medium-regular-font-style: normal;
  --label-large-medium-font-family: "Inter-Medium", Helvetica;
  --label-large-medium-font-weight: 500;
  --label-large-medium-font-size: 16px;
  --label-large-medium-letter-spacing: 0px;
  --label-large-medium-line-height: 18px;
  --label-large-medium-font-style: normal;
  --label-small-medium-font-family: "Inter-Medium", Helvetica;
  --label-small-medium-font-weight: 500;
  --label-small-medium-font-size: 12px;
  --label-small-medium-letter-spacing: 0px;
  --label-small-medium-line-height: 14px;
  --label-small-medium-font-style: normal;
  --body-bold-font-family: "SFPro Text-Semibold", Helvetica;
  --body-bold-font-weight: 400;
  --body-bold-font-size: 17px;
  --body-bold-letter-spacing: -0.40799999237060547px;
  --body-bold-line-height: 22px;
  --body-bold-font-style: normal;
  --headline-regular-font-family: "SFPro-Bold", Helvetica;
  --headline-regular-font-weight: 700;
  --headline-regular-font-size: 13px;
  --headline-regular-letter-spacing: 0px;
  --headline-regular-line-height: 16px;
  --headline-regular-font-style: normal;
  --body-emphasized-font-family: "SFPro-Semibold", Helvetica;
  --body-emphasized-font-weight: 400;
  --body-emphasized-font-size: 13px;
  --body-emphasized-letter-spacing: 0px;
  --body-emphasized-line-height: 16px;
  --body-emphasized-font-style: normal;
  --drop-shadow-small: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  --drop-shadow-xsmall: 0px 1px 2px 0px rgba(16, 24, 40, 0.04), 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  --focus-ring-2px-primary-100: 0px 0px 0px 2px rgba(224, 231, 255, 0.8);
  --focus-ring-2-px-destructive-100: 0px 0px 0px 2px rgba(254, 226, 226, 1);
  --focus-ring-2px-neutral-100: 0px 0px 0px 2px rgba(229, 229, 229, 1);
}
